@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('./assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cmunbi';
    src: url('./assets/fonts/cmunbi.ttf') format('truetype');
}

@font-face {
    font-family: 'cmunrm';
    src: url('./assets/fonts/cmunrm.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
}


body {
  font-family: 'Raleway-Regular';
  background: rgba(0, 0, 0, 0.6);
}


.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video-content {
  z-index: 2;
}

/* Global typography */

.h1 {
  @apply text-5xl tracking-tight sm:text-9xl font-cmunrm text-white;
}

.h2 {
  @apply font-cmunrm text-3xl tracking-tight sm:text-4xl;
}

.h3 {
  @apply text-2xl font-bold;
}

.h4 {
  @apply text-xl font-bold;
}

.p {
  @apply font-ralewaRegular font-light sm:text-base ;
}

