@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('./assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cmunbi';
    src: url('./assets/fonts/cmunbi.ttf') format('truetype');
}

@font-face {
    font-family: 'cmunrm';
    src: url('./assets/fonts/cmunrm.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
}

#sanity-portable p {
  margin-bottom: 1.5rem;
}

body {
  font-family: 'Raleway-Regular';
  background: rgba(0, 0, 0, 0.6);
}

.yarl__slide_image {
  min-width: 100% !important;
  min-height: 100% !important;
}

/* Make some fansy hoover effects */
.react-photo-album--photo:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.react-photo-album--photo {
  transition: transform 0.3s ease-in-out;
}
  
/* Global typography */

.h1 {
  @apply text-5xl tracking-tight sm:text-8xl font-cmunrm text-white;
}

.h2 {
  @apply font-cmunrm text-3xl tracking-tight sm:text-4xl;
}

.h3 {
  @apply text-2xl font-ralewaRegular;
}

.h4 {
  @apply text-xl tracking-tight ;
}

.h5 {
  @apply text-lg tracking-tight;
}

.p {
  @apply font-ralewaRegular font-light text-base ;
}

